.container4{
    height: 220px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 34% 0% 0% 18%
}

#blackheader3{
    background-color: black;
    color: white;
    text-align: start;
    font-size: x-large;
    padding-top: 4%;
}

#edutext{
    margin-left: 15px;
    padding: 3%;
    font-size: large;
}

#CDText{
    font-size: 20px;
}

.datetxt{
    color:grey;
}